services:
    db:
        image: postgres:16
        container_name: fastapi_postgres
        restart: always
        environment:
            POSTGRES_DB: fastapi_db
            POSTGRES_USER: fastapi_user
            POSTGRES_PASSWORD: fastapi_password
        ports:
            - "5432:5432"
        volumes:
            - postgres_data:/var/lib/postgresql/data

    pgadmin:
        image: dpage/pgadmin4
        container_name: pgadmin
        restart: always
        environment:
            PGADMIN_DEFAULT_EMAIL: admin@admin.com
            PGADMIN_DEFAULT_PASSWORD: admin
        ports:
            - "5050:80"
        depends_on:
            - db

    redis:
        container_name: redis-local
        image: redis:7-alpine
        ports:
            - "6379:6379"
        volumes:
            - redis-data:/data
        command: ["redis-server", "--appendonly", "yes"]
        restart: unless-stopped

volumes:
    postgres_data:
    redis-data:
